.AppBar {
  width: 900px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-top: 20px;
  background-color: white;
  border-bottom: 2px solid black;
  justify-content: space-between;
  position: fixed;
  left: 17%;
  z-index: 999;
  box-sizing: border-box;
}
