.LinkHome {
  color: rgb(8, 2, 32);
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.LinkHome:hover,
.LinkHome:focus {
  font-size: 22px;
}
